@font-face {
    font-family: 'ProductSans';
    src: url('../fonts/customfont.ttf') format('truetype');
    /* Дополнительные свойства шрифта (например, font-weight, font-style) */
  }
@font-face {
    font-family: 'ProductSans';
    src: url('../fonts/customfont.ttf') format('truetype');
    font-weight: bold;
    /* Дополнительные свойства шрифта (например, font-weight, font-style) */
  }
@font-face {
    font-family: 'ProductSans';
    src: url('../fonts/customfont.ttf') format('truetype');
    font-style: italic;
    /* Дополнительные свойства шрифта (например, font-weight, font-style) */
  }
@font-face {
    font-family: 'ProductSans';
    src: url('../fonts/customfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    /* Дополнительные свойства шрифта (например, font-weight, font-style) */
  }